/* Scss Document */

$darkbrown: #7c593c; //darkbrown
$lightgrey: #d4d4d4; //light grey
$white: #fff;
$medblue: #89c0c9;//med blue
$darkblue: #3a5e63;//dark blue
$lightbrown: #c9a689; //light brown
$lightblue: #c7f7ff;//light blue
$darkgrey: #222; //dark grey 

//fonts
$font_0: Josefin Sans;
$font_1: Trebuchet MS;
$font_2: Helvetica;
$font_3: sans-serif;
$font_4: Cardo;
$font_5: Palatino Linotype;
$font_6: Book Antiqua;
$font_7: Palatino;
$font_8: serif;
